<div class=social-icon> 
    <a href="https://www.facebook.com/gustavo.barzola.7"> <img src="../../../assets/images/facebook.png" alt="Facebook"> </a> 
    <a href="https://twitter.com/FdeericoB"> <img src="../../../assets/images/twitter.png" alt="Twitter"> </a> 
    <a href="https://www.instagram.com/fedebarzola3"> <img src="../../../assets/images/instagram.png" alt="Instagram"> </a> 
    <a href="www.linkedin.com/in/federico-barzola-7138b3216"> <img src="../../../assets/images/linkedin.png" alt="linkedin"> </a> 
    <a href="https://github.com/pincha1212"> <img src="../../../assets/images/ul2o443w.png" alt="GitHub"> </a> 
</div>