<button (click)="toggleInfo()" class="boton1 boton" id=openBtn>SOBRE MI</button>
<div *ngIf="showInfo" class="info-rectangle">
    <!-- Agregue aquí la información que desea mostrar -->
    <button (click)="toggleInfo()">X</button>
    <div>
      <app-titulo></app-titulo>
      <app-descripcion></app-descripcion>
      <app-redes-sociales></app-redes-sociales>
      <app-music-bar></app-music-bar>
      <app-mas-de-mi></app-mas-de-mi>
      <app-curriculum></app-curriculum>
    </div>
  </div>
