<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card w-75">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Título de la tarjeta</h5>
            <p class="card-text">Descripción de la tarjeta.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-75">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Título de la tarjeta</h5>
            <p class="card-text">Descripción de la tarjeta.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-75">
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Título de la tarjeta</h5>
            <p class="card-text">Descripción de la tarjeta.</p>
          </div>
        </div>
      </div>
    </div>
  </div>