.descripcion1 {
    left: 25%;
    top: 16%;
    position: absolute;
    color: #FFF
}

.subtitulo1 {
    user-select: none;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px
}
.info{
    user-select: none;
}